.App {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.control {
	display: flex;
	justify-content: center;
}
.control button{
	background: transparent;
	border: 1px solid white;
	color: white;
  border-radius: 5px;
  padding: 10px;
}
.control button:first-of-type{
  margin: 0px 5px 0px 0px;
}
.control button:last-of-type{
  margin: 0px 0px 0px 5px;
}

p{
  text-align: center;
}